body { color: #f7f7f7;}

.jumbotron {
    background-image: url("https://media.istockphoto.com/id/1283947498/photo/the-uk-at-night-from-the-international-space-station.jpg?s=612x612&w=0&k=20&c=zPMbfLwLTjqOyttqkkGRbERnwRVzSbgXDLEERej5Eu8=");
    background-size: 100% 100%;
    text-align: center;
  }

 